extends layout
block content
  h1=title

  h2 Node Pop
  p Maqueta de api para gestión de un sitios de anuncios de venta La aplicación se ejecuta con express, por defecto en el puerto 3000, sobre una base de datos MongoDB. Además, la aplicación usa el módulo Cluster de Nodejs para aprovechar todas las posibilidades del servidor 
  hr
  p Ir a la documentación: 
    a(href = "nodepop") #{apiInfo["nodepop"].name}
